.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 50px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding:  30px 30px;
<<<<<<< HEAD
    flex: 1;
=======
>>>>>>> c55714804acebaae3481b64c71374faea2b481ce
}

button {
    padding: 10px 20px; 
  }
  
img {
    inline-size: 250px;
}

  h1 {
    font-size: 80px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  #playerScore,
  #computerScore {
    margin: 10px;
    font-size: 24px;
    border: 1px solid black;
    padding: 5px;
  }
  
  
  #winner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
  }
  
  #winnerFinal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-style: bold;
  }
  
  #resetButtonContainer {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
  }

  #resetButton {
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
  }
  


  @media only screen and (max-width: 910px) {
    .top {
      margin-top: 20px;
    }
  
    .buttons-container {
      flex-wrap: wrap;
      gap: 10px;
      padding: 20px;
    }
  
    button {
      padding: 8px 16px;
      font-size: 18px;
    }
  
    img {
      inline-size: 185px;
    }
  
    h1 {
      font-size: 40px;
      margin-bottom: 10px;
    }
  
    #playerScore,
    #computerScore {
      margin: 5px;
      font-size: 18px;
      padding: 3px;
    }
  
    #winner, {
      font-size: 18px;
      margin-top: 10px;
    }

    #winnerFinal {
        font-style: bold;
        font-size: 25px;
        margin-top: 18px;
    }
        #resetButtonContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
              }
            
              #resetButton {
                background-color: transparent;
                border: none;
                padding: 0;
                font-size: inherit;
                text-decoration: none;
                cursor: pointer;
              }
    }
  }
